.jobs-container {
  width: 100%;
  cursor: pointer;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.jobs-container1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  justify-content: center;
}
.jobs-image {
  width: auto;
  display: none;
  min-width: auto;
  min-height: 30px;
  object-fit: cover;
}
.jobs-image1 {
  width: 200px;
  object-fit: cover;
}
.jobs-navlink {
  padding-top: 0.6rem;
  border-radius: 15px;
  padding-bottom: 0.6rem;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.05);
}
.jobs-navlink1 {
  padding-top: 0.6rem;
  border-radius: 15px;
  padding-bottom: 0.6rem;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.05);
}
.jobs-navlink2 {
  padding-top: 0.6rem;
  border-radius: 15px;
  padding-bottom: 0.6rem;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.05);
}
.jobs-navlink3 {
  padding-top: 0.6rem;
  border-radius: 15px;
  padding-bottom: 0.6rem;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.05);
}
.jobs-container3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.jobs-navlink4 {
  display: flex;
  padding-top: 0.6rem;
  border-radius: 15px;
  flex-direction: row;
  padding-bottom: 0.6rem;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.05);
}
.jobs-icon {
  width: 24px;
  height: 24px;
}
.jobs-navlink5 {
  display: flex;
  padding-top: 0.6rem;
  border-radius: 15px;
  flex-direction: row;
  padding-bottom: 0.6rem;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.05);
}
.jobs-icon02 {
  width: 24px;
  height: 24px;
}
.jobs-navlink6 {
  display: flex;
  padding-top: 0.6rem;
  border-radius: 15px;
  flex-direction: row;
  padding-bottom: 0.6rem;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.05);
}
.jobs-icon04 {
  width: 24px;
  height: 24px;
}
.jobs-button1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.jobs-icon06 {
  width: 24px;
  height: 24px;
}
.jobs-navlink7 {
  display: flex;
  padding-top: 0.6rem;
  border-radius: 15px;
  flex-direction: row;
  padding-bottom: 0.6rem;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.05);
}
.jobs-icon08 {
  width: 24px;
  height: 24px;
}
@media(max-width: 1600px) {
  .jobs-image {
    display: none;
  }
}
@media(max-width: 1200px) {
  .jobs-image {
    display: flex;
  }
  .jobs-image1 {
    display: none;
  }
}
@media(max-width: 991px) {
  .jobs-text {
    align-self: center;
  }
}
@media(max-width: 479px) {
  .jobs-navlink4 {
    padding-left: 1rem;
  }
  .jobs-navlink5 {
    padding-left: 1rem;
  }
  .jobs-navlink6 {
    padding-left: 1rem;
  }
  .jobs-button1 {
    padding-left: 1rem;
  }
  .jobs-text {
    align-self: center;
  }
  .jobs-navlink7 {
    padding-left: 1rem;
  }
}
