.announcment-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px;
  position: relative;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  border-radius: 15px;
  flex-direction: column;
  justify-content: flex-start;
}
@media(max-width: 1600px) {
  .announcment-container {
    height: auto;
  }
}
